#Investigation .fixed
{
	position:fixed;
	top:10px;
	height:26px;
	line-height:26px;
}
#Investigation .InvestigationTitle
{
   background-color:white;
   position: absolute;
   left: 418.5px;
   border-radius: 10px;
}
#Investigation .InvestigationTitle input[type='text'],.InvestigationTitle textarea
{
   width:400px;
   margin-top:10px;
   margin-bottom:10px;
}
#Investigation .InvestigationView  li
{

   display:inline-block;
   overflow:auto;
   padding-left:10px;
}
#Investigation .InvestigationView input[type="submit"]
{
	background-color:#f7fafd;
	-webkit-box-shadow:none;
	box-shadow:none;
	padding:0px;
	margin:0px;
	border:0px;
	color:#004499;
	font-size:13px;
	font-weight:bold;
}
#Investigation .InvestigationView input[type="submit"]:hover
{
  color:#f04810;
}
#Investigation .investigation_title_save
{
   background: #f17819;
    color: #ffffff !important;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-right: 5px;
    text-decoration: none;
    vertical-align: middle;
    padding: 0 10px 0 15px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}
#Investigation .investigationdescription
{
    color: #555555;
    line-height: 24px;
    text-align: left;
    font-size: 16px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
    margin-left: 0;
    margin-top: 20px;
}
#Investigation .InvestigationHead
{
	cursor:pointer;padding:10px 2% 20px;
	text-align:center;
	border: 2px solid rgb(255, 255, 255);
}
#Investigation .InvestigationHead:hover
{
	border: 2px solid #fdb553;
}
a*{
 vertical-align:middle;
}
#Investigation .design-minus {
    background-position: -22px -60px;
    height: 17px;
    width: 17px;
}
#Investigation .design-edit {
    background-position: -2px -618px;
    height: 16px;
    width: 16px;
    margin: 0 3px 0 0;
}
#Investigation .design-delete {
    background-position: -20px -40px;
    height: 16px;
    width: 16px;
    margin: 0 3px 0 0;
}
#Investigation .design-down {
    background-position: -2px -2px;
    height: 16px;
    width: 16px;
    margin: 0px 2px 0 0;
}
#Investigation .design-up {
    background-position: -22px -2px;
    height: 16px;
    width: 16px;
    margin: 0px 2px 0 0;
}
#Investigation .design-add {
    background-position: 0px -60px;
    height: 17px;
    width: 17px;
}
#Investigation .design-icon {
    background-image: url('designqpic.gif');
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
}
#Investigation .stuff li a
{
	text-decoration:none;
	padding-left:6px;
	padding-right:6px;
	height:23px;
	color:#666;
	display:table-cell;
	vertical-align: middle;
}
#Investigation .stuff {
    font-size: 12px;
    float: left;
    margin: 5px 0px 5px 0px;
    padding :0px;
    width: auto;
    background-color: #cef4ff;
    height: 23px;
    list-style-type: none;
    line-height: 23px;
}
#Investigation .stuff li{
	float:left;
	vertical-align:middle;
	height:23px;
	border:#fff 1px solid;
	text-align:center;
}
#Investigation .stuff li a span{
	vertical-align:middle;
	display:inline-block;
}
#Investigation .div_table_question {
    clear: both;
    padding-top: 5px;
    padding-left: 24px;
    padding-bottom: 2px;
    border-bottom: 1px solid #EFEFEF;
    font-size: 14px;
    color: #333333;
    _padding-left: 27px;
}
#Investigation .div_table_question ul{
	width:auto;
	height:auto;
	margin: 0px;
	vertical-align:middle;
}
#Investigation .div_table_question ul li{
	float:left;
	height:auto;
}
#Investigation .div_title_question_all {
    padding-top: 2px;
    font-size: 15px;
    color: #444444;
    font-weight: bold;
    height: auto;
    line-height: 20px;
}
.stuff{
	/*display:none;*/
}
#Investigation .div_question
{
    border:2px solid #66CAFF;
    margin-top:3px;	
}
body {
    font-family: "微软雅黑","Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    word-break: break-all;
    word-wrap: break-word;
}